*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
   
}
body {
    background-image: linear-gradient(rgb(14, 94, 14) ,black ,gray , rgb(128, 170, 128)) ;
    
}
::-webkit-scrollbar{
    display: none;
  }
/*  .navbar{
    background-color: rgba(0, 0, 0, 0.3);
    overflow: hidden;
    padding: 0;
    margin: 0;
   position: sticky;
   top: 0;
   z-index: 2;
    
}
.container .navbar-brand{
    font-size: 30px;
    font-weight: 700;
}

.collapse .navbar-nav  {
    margin-left:450px;
   padding: auto;
}
.collapse .navbar-nav .nav-item .nav-link{
   color: seagreen;
   text-align: center;
   position: relative;
   left: 430px;
   font-size: 20px;
   margin: 5px;
   
 }
 .collapse .navbar-nav .nav-item .nav-link:hover{
    border-bottom: rgb(60, 68, 64) solid 2px;
    transition:0.5s all ease;
    font-size: 24px;
 }
 
.log button{
    border-color: rgb(92, 134, 92);
    border-radius: 15px;
    padding: 5px;
    box-shadow: 1px 1px 2px rgba(0,0,0, 0.3);

}
.log button:hover{
    background: rgb(167, 170, 168);
    border: 3px rgba(0, 0, 0, 0.3) solid;
   
}
.log button a{
    text-decoration: none;
    color: rgb(92, 134, 92);
   
}
.log button a:hover{
    color: black;
}
*/
.navbar-inverse{
    background-color: rgba(0, 0, 0, 0.3);
    background:rgba(0, 0, 0, 0.3);
    background-color: transparent;
    background-color: rgba(0, 0, 0, 0.3);
    border-bottom: transparent;
    overflow: hidden;
    padding: 0;
    margin: 0;
   position: sticky;
   top: 0;
   z-index: 2;
}
 .navbar-inverse .navbar-brand{
    color: #fff;
    font-size: 40px;
    padding: 0px  ;
    margin-bottom: 50px;
    font-weight: 600;
    font-family: 'releway',sans-serif;
}
.log img{
    margin-top: 0px;
    padding-top:0px;
}
.nav .navbar-nav .navbar-right{
    margin: 25px 0;
}
.nav .navbar-nav .navbar-right{
    margin: 25px 0;
}
.navbar-inverse .navbar-nav > li >a{
    color: #fff;
    text-transform: uppercase;
    font-family: 'releway',sans-serif;
    
    
}
.navbar-inverse .navbar-nav > li >a:hover{
    color: rgb(92, 134, 92);
    font-size: 20px;

}

.navbar-inverse .navbar-nav > li >a:active , .navbar-inverse .navbar-nav > li >a:hover{
    border-bottom:  rgb(92, 134, 92) solid 5px;
    
}
.login{
    background-color: rgb(27, 104, 59);
    margin-top: 12px;
    border-radius: 15px;
    width: 100px;
    height: 25px;
}
.login:hover{
    border-bottom: rgb(60, 68, 64) solid 2px;
    transition:0.3s all ease;
    font-size: 24px;
    width: 120px;
    height: 35px;
}
.login a{
    color: black;

}
.login a:hover{
    text-decoration: none;
}
.content{
    color: #fff;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0, 0.3)

}
.principal{
    left: 50%;
    top: 60%;
    transform: translate(-50%,-50%);
    position: absolute;
    letter-spacing: 5px;
   text-align: center;
}
.principal h1{
    font-size: 90px;
    margin-bottom: 20px;
    font-family: 'Kaushan Script', cursive;
    font-family: 'Merienda', cursive;
    font-family: 'Patrick Hand SC', cursive;
   -webkit-text-stroke: 0.3vw black;
  
 
}
.principal p{
    font-size: 20px;
}
.slider{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    animation: slide 10s infinite;
    position:static;
}

@keyframes slide {
    0%{
         background-image: url('images/recycle.jpg');
    }
    20%{
        background-image: url('images/recycle.jpg');
    }
    20.01%{
        background-image: url('images/recycling2.jpg');
   }
   40%{
         background-image: url('images/recycling2.jpg');
   } 
   
    40.01%{
        background-image: url('images/recycle3.jpg');
    }
    60%{
        background-image: url('images/recycle3.jpg');
    }
    60.01%{
        background-image: url('images/recycle4.jpg');
    }
    80%{
        background-image: url('images/recycle4.jpg');
    } 
    80.01%{
        background-image: url('images/recycle5.jpg');
    }
    100%{
        background-image: url('images/recycle5.jpg');
    } 
   
}

.start {
    margin-top: 30px;
    width: 120px;
    height:50px ;
    background-color: transparent;
    border: 2px solid #fff;


}
.start a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.start:hover{
    background-color: rgb(151, 147, 141);
}
.start a:hover{
    color :black;
}
.start:active{
    background-color: rgb(129, 129, 127);

}
.start a:active{
    color: rgb(112, 81, 14);
}
video{
 
    border-radius: 15px;
    box-shadow: 1px 1px 2px rgba(0,0,0, 0.3);
    position: absolute;
   
    right: 0px;
    height: 380px;
}
@media (max-width:500px){
    video{
        position: relative;
        left: 0px;
        width: 100%;
    }
}
p{
    font-family: 'Pacifico', cursive;

}
.qrcode{

   width: 380px;
   height: 380px;
 

}



